body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
}

.clock {
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    border: solid 5px yellow;
}

#seconds-hand {
    position: absolute;
    height: 130px;
    width: 2px;
    background-color: rgb(70,255,255);
    left: 149px;
    bottom: 149px;
    transform-origin: 0 100%;
}
#minutes-hand {
    position: absolute;
    height: 100px;
    width: 2px;
    background-color: rgb(253,120,227);
    left: 149px;
    bottom: 149px;
    transform-origin: 0 100%;
}
#hours-hand {
    position: absolute;
    height: 80px;
    width: 4px;
    background-color: purple;
    left: 148px;
    bottom: 148px;
    transform-origin: 0 100%;
}
#center {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: yellow;
    position: absolute;
    left: 145px;
    bottom: 145px;
}
